@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Queensides";
  src: url("./assets/Queensides.ttf");
}

:root {
  --radius: 0.625rem;

  --background: oklch(0.99 0 0);
  --foreground: oklch(0.09 0 0);
  --heart: oklch(0.58 0.25 27);
  --heart-hover: oklch(0.62 0.26 27);

  --card: oklch(0.985 0 0);
  --card-foreground: oklch(0.12 0 0);

  --popover: oklch(0.985 0 0);
  --popover-foreground: oklch(0.12 0 0);

  --primary: oklch(0.22 0.04 25);
  --primary-foreground: oklch(0.99 0 0);

  --secondary: oklch(0.95 0.01 30);
  --secondary-foreground: oklch(0.16 0 0);

  --muted: oklch(0.95 0.005 20);
  --muted-foreground: oklch(0.42 0.02 0);

  --accent: oklch(0.94 0.05 40);
  --accent-foreground: oklch(0.18 0 0);

  --destructive: oklch(0.52 0.28 27.325);

  --border: oklch(0.83 0 0);
  --input: oklch(0.83 0 0);
  --ring: oklch(0.62 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.97 0 0);
  --sidebar-foreground: oklch(0.12 0 0);
  --sidebar-primary: oklch(0.22 0.04 25);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.94 0.05 40);
  --sidebar-accent-foreground: oklch(0.18 0 0);
  --sidebar-border: oklch(0.83 0 0);
  --sidebar-ring: oklch(0.62 0 0);
}

.dark {
  --background: oklch(0.17 0 0); /* surface-1 */
  --foreground: oklch(0.96 0 0);

  --card: oklch(0.21 0 0); /* surface-2 */
  --card-foreground: var(--foreground);
  --popover: oklch(0.21 0 0);
  --popover-foreground: var(--foreground);

  --primary: oklch(0.38 0.07 250); /* Deep cool blue */
  --primary-foreground: oklch(0.96 0.01 250);

  --primary-100: oklch(0.3 0.06 250);
  --primary-200: oklch(0.34 0.065 250);
  --primary-300: oklch(0.38 0.07 250); /* main */
  --primary-400: oklch(0.42 0.075 250);
  --primary-500: oklch(0.46 0.08 250);

  --secondary: oklch(0.26 0.02 280);
  --secondary-foreground: var(--foreground);

  --muted: oklch(0.26 0.01 250);
  --muted-foreground: oklch(0.6 0.02 250);

  --accent: oklch(0.3 0.05 210);
  --accent-foreground: oklch(0.95 0.01 210);

  --destructive: oklch(0.58 0.25 27.325);
  --border: oklch(1 0 0 / 12%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.5 0.01 250);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.626 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.21 0 0);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary-400);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ol,
ul {
  list-style: none;
}

@theme {
  --font-logo: "Queensides", "sans-serif";
  --color-accent-green: var(--chart-2);
  --color-offwhite: oklch(0.985 0 0);
  --animate-expand: expand 250ms ease-in-out 50ms forwards;
  --animate-collapse: collapse 200ms ease-in-out 50ms forwards;
  --spacing-collapsible: var(--radix-collapsible-content-width);

  @keyframes expand {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
      opacity: 1;
    }
  }
  @keyframes collapse {
    from {
      height: var(--radix-collapsible-content-height);
      opacity: 1;
    }
    to {
      height: 0;
      opacity: 0;
    }
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
