.headerContainer {
  background-color: var(--bg-highlight);
  grid-column: 1 / -1;
  grid-row: 2 / -1;

  display: flex;
  flex-direction: row;
  color: var(--text-main);
  justify-content: space-between;
  padding-inline: 0.5rem;
  padding-block: 1em;
}

@media (min-width: 1024px) {
  .headerContainer {
    grid-column: 1 /2;
    grid-row: 1 / -1;
    flex-direction: column;
    justify-content: start;
  }
}
